@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_mixins";
@import "variables";

@mixin _media($breakpoint-value) {
  @media screen and (min-width: map_get($grid-breakpoints, $breakpoint-value)) {
    @content;
  }
}

@mixin heading-1($font-weight: 800) {
  font-family: $fontFamilyMontserrat;
  font-size: 34px;
  font-weight: $font-weight;

  @include _media('md') {
    font-size: 47px;
  }
}

@mixin heading-2($font-weight: 700) {
  font-family: $fontFamilyMontserrat;
  font-size: 1.75rem;
  font-weight: $font-weight;

  @include _media(md) {
    font-size: 2.125rem;
  }
}

@mixin heading-3($font-weight: 700) {
  font-family: $fontFamilyMontserrat;
  font-size: 24px;
  font-weight: $font-weight;

  @include _media(md) {
    font-size: 28px;
  }
}